* {
  box-sizing: border-box;
}

.skranji-regular {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
}

.skranji-bold {
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body{
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
}

.sidebar{
  background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  flex: 4 4 auto;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;

}

.content{
  flex: 6 6 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer{
  background-color: lightgrey;
  flex: 1 1 auto;
  padding: 20px;
  font-size: calc(0.5vw + 15px);
}

.header{
  margin-bottom: auto;
}

button{
  font-size: 15px;
  background-color: #596D48;
  color: white;
  border-radius: 6px;
}

.sidebar a{
  color: white;
}

.odinbanner{
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.odinbanner img{
  width: 2em;
}

.odinbanner p{
  padding: 8px;
}

.sign-up{
  flex: 1 1 auto;
  font-size: calc(0.25vw + 10px);
  padding: 20px;
}

.sign-up-form{
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
}

h3{
  font-size: 18px;
}

.elem{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align:start;
}

.photocredit{
  padding: 10px;
}

input{
  max-width: 150px;
}

.footer a{
  text-decoration: none;
  color: #596D48
}

input:focus{
  border: 1px solid blue;
}

input:invalid{
  border: 1px solid red;
}